
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "resources/assets/sass/homepage";

body {
    background-image: url("/img/homepage.jpg");
}

.text-black {
    color: black;
}

.bold {
    font-weight: bold;
}

.margin-left-5 {
    margin-left: 0.5rem;
}

.navbar-transparent  {
    background: none;
    border: none;
}

.full-height {
    height: 100vh;
}
