
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "resources/assets/sass/homepage";
@import "resources/assets/sass/adventures";
@import "resources/assets/sass/upload";

body {
    width: 100vw;
    overflow-x: hidden;
}

#main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.back-img-full {
    background-image: url("/img/homepage.jpg");
    height: 64vw;
}

a {
    cursor: pointer;
}

a.nostyle {
    color: inherit;
}

.text-black {
    color: black;
}


.form-error {
    color: red;
    font-size: 1.3rem;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.margin-left-5 {
    margin-left: 0.5rem;
}

.navbar-transparent  {
    background: none;
    border: none;
}

.full-height {
    height: 100vh;
}

.no-margin {
    margin:0 !important;
}
