.upload {

    &.thumb {
        height: 10rem;
        margin-bottom: 0.3rem;
        margin-right: 0.3rem;
    }

    &.thumb-custom {
        width: 10rem;
        background-color: lightgray;
        display: inline-block;
        padding-top: 4rem;
    }

    &.thumb-error {
        color: lightcoral;
    }

    &.add {
        text-align: center;
        cursor: pointer;
        @if variable-exists(primary-color) {
            color: lighten($primary-color, 20%);
        } @else {
            color : '#59acdb';
        }
        &:hover {
            background-color: darken(lightgray, 10%);
            @if variable-exists(primary-color) {
                color: lighten($primary-color, 10%);
            } @else {
                color : '#2579a9';
            }
        }
    }
}

output.upload {
    text-align: center;
    display: inline-block;
}
