.upload {

    &.thumb {
        height: 10rem;
        margin-bottom: 0.3rem;
        margin-right: 0.3rem;
    }

    &.thumb-error {
        width: 10rem;
        background-color: lightgray;
        display: inline-block;
        padding-top: 4rem;
        color: lightcoral;
    }
}

output.upload {
    text-align: center;
}
